<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf-8</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <mapping resource="UserEntity.hbm.xml"/>
    <mapping class="com.conhj.po.HusbandEntity"></mapping>
    <mapping class="com.conhj.po.WifeEntity"></mapping>
    <mapping class="com.conhj.po.FatherEntity"></mapping>
    <mapping class="com.conhj.po.SonEntity"></mapping>
    <mapping class="com.conhj.po.CourseEntity"></mapping>
    <mapping class="com.conhj.po.StudentEntity"></mapping>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>